@mixin full-screen {
  &:fullscreen {
    @content;
  }

  &:-moz-full-screen {
    @content;
  }

  &:-ms-fullscreen {
    @content;
    width: 100%;
  }

  &:-webkit-full-screen {
    @content;
  }
}

.full-screen {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--color-black);
  cursor: pointer;
  height: 24px;
  outline: none;
  padding: 0;
  position: relative;
  width: 24px;

  &__icon {
    height: 100%;
    width: 100%;
  }
}
